header{
    background-color: transparent;
    width: 1920px;  height: 80px;
    display: flex;
    position: fixed;
    z-index: 100;
    padding: 24px 60px;
}
header nav{position: relative;}
header nav .gnb{display: flex;}
header nav .gnb > li{
    margin-right: 55px;
    position: relative;
}
header nav .gnb > li:last-child{margin: 0;}
header nav .gnb > li > a{
    color: #fff;
    font-size: 1.0rem;
    letter-spacing: 2px;
} 
main{}
main .visual{
    height: 90vh;
    background-image: url(../img/main.png);
}
main p{
    font-family: "Noto Serif", serif;
    font-size: 6.25rem;
    color: #57160B;
    z-index: 200;
    padding-left: 60px; padding-top: 350px;
}
main span{
    padding-left: 300px; padding-top: 35px;
}
main .profile{
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
}
main .profile h1{
    font-weight: 300;
    letter-spacing: 0.02em;
    font-size: 40px;
    width: 471px;
    font-family: "Noto Serif", serif;
    padding: 50px 0 20px 80px;
}
main .profile .pro{
    width: 100%;
    padding-top: 0;
}
main .profile .pro_cont{
    width: 1400px; height: 640px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 100px;
}
main .profile .pro_img{
    width: 50%;
    padding-top: 70px;
    background-color: red;
}
main .profile .pro_img img{
    width: 500px; height: 500px;
    border-radius: 100%;
}

main .profile .pro_txt{
    width: 50%;
}
main .profile .pro_txt .txt h2{
    width: 100%;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 60px;
}
main .profile .pro_txt .txt .about{
    padding: 0;
}
main .profile .pro_txt .txt ul{}
main .profile .pro_txt .txt ul li{
    letter-spacing: 0.02em;
    font-size: 1.0rem;
}
main .profile .pro_txt .txt01{
    display: flex;
    flex-flow: row wrap;
    width: 460px;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_txt li:nth-child(-n+4){
    padding-bottom: 20px;
}
main .profile .pro_txt .txt01 .title{
    width: 70px;
}
main .profile .pro_txt .txt01 .content{
    width: 160px;   
}
main .profile .pro_txt .txt02{
    display: flex;
    flex-flow: row wrap;
    width: 675px;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_txt .txt02 .term{
    width: 175px;
}
main .profile .pro_txt .txt02 .school{
    width: 500px;
    background-color: lime;
}
main .profile .pro_txt .txt03{
    display: flex;
    flex-flow: row wrap;
    width: 635px;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_txt .txt03 .time{
    width: 175px;
}
main .profile .pro_txt .txt03 .company{
    width: 460px;
}
main .profile .pro_txt .txt04{
    display: flex;
    flex-wrap: row wrap;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_txt .txt04 li{
    margin-right: 20px;
    width: 65px; height: 65px;
}
main .profile .pro_txt .txt04 li img{
    width: ;
}